TF_VAR_AWS_ACCESS_KEY_ID=your_access_key_id
TF_VAR_AWS_SECRET_ACCESS_KEY=your_secret_access_key

TF_VAR_rds_username=postgres
TF_VAR_rds_password=postgres
TF_VAR_rds_port=5432
TF_VAR_ingress_ips=0.0.0.0/0
